{{ define "main" }}
<div class="row row-about justify-content-center align-items-center">
  <div class="col-md-16 col-lg-7">
    <article>
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </article>
  </div>
  <div class="col-md-16 col-lg-7 text-center">
    {{ $avatar := .Params.avatar | default "avatar.png" }}
    {{ with .Resources.GetMatch $avatar }}
      {{ $img := . }}
      {{ if not (in (slice "gif" "svg") .MediaType.SubType) }}
        {{ $img = .Fill "640x640 webp q90" }}
      {{ end }}
      <div class="about-avatar">
        <img
          src="{{ $img.RelPermalink }}"
          width="{{ $img.Width }}"
          height="{{ $img.Height }}"
          alt="{{ $.Title }}"
          loading="lazy"
          decoding="async"
        />
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
